# macOS system files
.DS_Store

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env/
.venv/
env/
venv/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Logs and coverage
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.coverage
.tox/
.nox/
.coverage.*
.cache/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VSCode / PyCharm settings
.vscode/
.idea/

# Custom temp folder
temp/
